.answer {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  background-color: #444;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
}

.answer:hover {
  background-color: #999;
}

.answer:not(:last-child) {
  border-bottom: 1px solid #999;
}

.answer:first-child {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.answer:last-child {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
}

.indicatorTrue {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.indicatorFalse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
