.list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.birdSpecies {
  width: 25%;
  padding: 12px;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #00bc8c;
}

.birdSpecies:not(:last-child) {
  border-right: 1px solid #008966;
}

.birdSpeciesActive {
  width: 25%;
  padding: 12px;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #008966;
}
