.container {
  height: 100%;
  width: 40%;
  border-radius: 15px;
  border: 1px solid #999;
}

.answersList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
