.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
}

.answersBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .answersBlock {
    flex-direction: column;
    gap: 1rem;
  }
}
